div.sectionDiv{
	display:inline-block;
	background:rgba(0,0,0,0.7); 
	border: 5px solid; 
	border-radius:10px;
	border-color: #FFFFFF;
	margin-bottom: 20px;
	margin-left:20px;
	opacity:0;
	transition:opacity 0.5s; 
	-moz-transition:opacity 0.5s; 
	-webkit-transition:opacity 0.5s;
	padding:20px;
}

div.tooltip{
	background:rgba(0,0,0,0.9); 
	border: 5px solid; 
	border-radius:10px;
	border-color: #FFFFFF;
	display:none;
	position:absolute;
	width:300px;
	height:auto;
	padding: 20px;
}

canvas.iconCanv{
	margin-top:10px; 
	margin-bottom:10px;
	float:left;
	/*
	opacity:0;
	transition:opacity 0.5s; 
	-moz-transition:opacity 0.5s; 
	-webkit-transition:opacity 0.5s;
	*/
}

h1#title{
	opacity: 0.3; 
	font-family: "Orbitron", sans-serif; 
	font-size: 275%; 
	vertical-align:-20px;
	margin-left:20px;
	margin-bottom:20px;
}

table.minmaxtable{
	float:left;
	text-align: center;
	padding-right:30px;
}

input.minmaxCell{

}

button.button{
	clear:both;
	width: 500px;
	height: 5%;   
	background-color: #FFFFFF;
	background-image: -webkit-linear-gradient(transparent, #C1C1C1);
    background-image: -moz-linear-gradient(transparent, #C1C1C1); 
	-webkit-border-radius: 5; 
	-moz-border-radius: 5; 
	border-radius: 5; 
	font-size:20px;
	font-family: Raleway;
	border-color: #333333;
	margin-bottom: 100px;
	display: block;
	margin-left: auto;
	margin-right: auto;

}

:invalid{
	color: #FF0000;
}