* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body{
	/*FF will take percentage expression for the dimensions of child elements
	relative to the corresponding dimensions of the parent element, and any
	percent of auto defaults to 0; therefore the top positioning in the div
	containing all the waffle elements won't work in FF, unless the body height
	is specified to something other than auto*/ 
	height: 100%;
}

div#waffleplate{
	margin-left: auto;
	margin-right: auto;
	position:relative;
	top: 2%; 
}

canvas.monitor{
	position:absolute; 
	left:24%; 
	opacity:0; 
	z-index:-10000;
	margin-top:10px;
	transition:opacity 0.5s;
	-moz-transition:opacity 0.5s;
	-webkit-transition:opacity 0.5s;
}

canvas.navHeader{
	position:absolute;
	left: 24%;
	opacity: :0;
	z-index: -10000;
}

div.navPanel{
	opacity:0;
	z-index:-1;
	display:inline;
	position:absolute;
	left:24%;
	transition:opacity 0.5s, z-index 0.5s;
	-moz-transition:opacity 0.5s, z-index 0.5s;
	-webkit-transition:opacity 0.5s, z-index 0.5s;
}

div.clock{
	border:5px solid;
	border-color: #000000;
	border-radius:25px;
	background-color: #4C4C4C;
	transition: box-shadow 0.3s ease, border-color 0.3s ease;
	-moz-transition: box-shadow 0.3s ease, border-color 0.3s ease;
	-webkit-transition: box-shadow 0.3s ease, border-color 0.3s ease;
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
}

div.cardNavPanel{
	display:none;
}

div.tooltip{
	display:none;
	position:absolute;
	width:100px;
	height:60px;
	color:#FFFFFF;
	text-align: center;
	z-index: 20000;
	background:rgba(0,0,0,0.7); 
	border: 5px solid; 
	border-radius:10px; 
	border-color:#FFFFFF;
	width:auto; 
	height:auto; 
	padding:20px;
	pointer-events:none;
}

table.TTtab{
	text-align: center;
}

canvas.ttBKG{
	position:absolute;
	left: 5px;
	top: -15px;
}

p.TTtext{
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	text-align: center;
	position:relative;
	left: 5px;
	top: -15px;
}

td.TTcell{
	text-align: center;
}

div.LeftSidebar{
	position: absolute;
	color: rgba(255,255,255,0.9);
	width: 21%;
	height: auto;
	left:0%;
	display:inline;
	text-align: center;
	background-color:#4C4C4C;
	border:2px solid black;
	border-top-right-radius:20px;
	border-bottom-right-radius:20px; 
	border-left:none;

	transition:opacity 0.5s;
	-moz-transition:opacity 0.5s;
	-webkit-transition:opacity 0.5s;
}

div.RightSidebar{

	position: absolute;
	color: #EEEEEE;
	width: 25%;
	height: auto;
	right:0%;
	display:inline;
	opacity:0;
	z-index:-1;
	background-color:#4C4C4C;
	border:2px solid black;
	border-top-left-radius:20px;
	border-bottom-left-radius:20px; 
	border-right:none;

	transition:opacity 0.5s, z-index 0.5s;
	-moz-transition:opacity 0.5s, z-index 0.5s;
	-webkit-transition:opacity 0.5s, z-index 0.5s;
}

div.collapsableSidebar{
	opacity:0;
	z-index:-1;
	clear:both;
	position:absolute;
	right:0%;
	transition:opacity 0.5s, z-index 0.5s;
	-moz-transition:opacity 0.5s, z-index 0.5s;
	-webkit-transition:opacity 0.5s, z-index 0.5s;
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
}

div.collapsableMenu{
	border:2px solid black;
	border-right:none;
	background-color:#4C4C4C;	 
	border-top-left-radius:20px;
	border-bottom-left-radius: 20px; 
	padding:10px;
	overflow:hidden;
	line-height:1.5em;
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
	transition:max-height 0.3s, border 1s;
	-moz-transition:max-height 0.3s, border 1s;
	-webkit-transition:max-height 0.3s border 1s;				
}

div.menuContent{
	font-size: 110%;
	padding-left: 3em;
	padding-top:1em;
}

div.toggleWrap{
	height:2em;
	margin-left:2em;
}

div.toggleLabel{
	margin-top:0.5em;
	margin-bottom: 0.5em;
	padding:0em;
	border:0em;
	display:inline-block;
	float:left;
	-webkit-user-select:none;
	-moz-user-select:none;
}

div.toggleGroove{
	-webkit-box-sizing:content-box;
	-moz-box-sizing:content-box;
	height:1.5em;
	width:3em;
	margin-top:0.25em;
	margin-bottom:0.25em;
	margin-left: 1em;
	margin-right: 1em;
	border:0.2em solid #000000;
	border-radius: 0.95em;
	background-color: #333333;
	display:inline-block;
	position:relative;
	/*
	background-image: -webkit-linear-gradient(left , #00FF00 0%, #333333 50%);
	background-image: -moz-linear-gradient(left , #00FF00 0%, #333333 50%);
	*/
	transition:background-color 0.3s;
	-moz-transition:background-color 0.3s;
	-webkit-transition:background-color 0.3s;
	float:left;
}

div.toggleSwitch{
	height:1.5em;
	width:2em;
	border-radius: 0.75em;
	background-color: #999999;
	padding:0px;
	border:0.2em solid black;
	position:absolute;
	/*top:-0.2em;*/
	transition:left 0.3s;
	-moz-transition:left 0.3s;
	-webkit-transition:left 0.3s;
}

div.toggleDescription{
	margin-top:0.5em;
	margin-bottom: 0.5em;
	padding:0em;
	border:0em;
	display:inline-block;
	float:left;
	-webkit-user-select:none;
	-moz-user-select:none;
}

h3{
	margin:0px;
	margin-top:5px;
}

p#FieldText{
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: 10px;
}

p#inputTitle{
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

input#demandVoltage{
	position: relative;
}

div.alarmDiv{

	background-color: #4C4C4C;
	height: 150px;
	position: absolute;
	top: 0px;
	left: 10px;
 	margin-bottom: 10px;
	border-style:ridge;
    border-width:5px;
    border-color:black;
	transition:height 1s, top 1s, background 1s, z-index 1s;
	-moz-transition:height 1s, top 1s, background 1s, z-index 1s;
	-webkit-transition:height 1s, top 1s, background 1s, z-index 1s;
}

div#voltAlarm
{
	overflow: hidden;
	left:3%;
}

div#currentAlarm
{
	overflow: hidden;
	left:3%;
}

div#tempAlarm
{
	overflow: hidden;
	left:3%;
}

input.bigButton{
	width: 40%; 
	height: 30px;  
	margin-left: 5%; 
	background-color: #FFFFFF;
	background-image: -webkit-linear-gradient(transparent, #C1C1C1);
    background-image: -moz-linear-gradient(transparent, #C1C1C1);  
	border-radius: 5px; 
	font-size:20px; 
	padding:0px;
	border-color: #000000;
	-webkit-transition: background-color 1s;
    -moz-transition: background-color 1s;
}

button.MFlink{
	background: -webkit-gradient(linear, left top, left bottom, from(#999999), to(#DDDDDD)); 
	background: -moz-linear-gradient(top,  #999999,  #DDDDDD); 
	border-radius: 5px;
    display: inline;
}

button.navLink{
	background: #4C4C4C; 
	color: #FFFFFF;
	border-color: #333333; 
	border-radius: 5px;
    display: inline;
    font-family: 'Raleway', sans-serif;
    font-size:14px;
}

button.navLink:hover{
	background: #777777;
}

button.navLinkDown{
	background: #777777; 
	color: #FFFFFF;
	border-color: #333333;  
	border-radius: 5px;
    display: inline;
    font-family: 'Raleway', sans-serif;
    font-size:14px;	
}

h1.navPanelHeader{
	display: inline; 
	opacity: 0.3; 
	font-family: "Orbitron", sans-serif; 
	font-size: 275%; 
	vertical-align:-20px;
}

input.link{
	background: -webkit-gradient(linear, left top, left bottom, from(#999999), to(#DDDDDD)); 
	background: -moz-linear-gradient(top,  #999999,  #DDDDDD); 
	border-radius: 5px;
    display: inline;
}

div.slider{
	position:absolute;
	height: 36px;
	margin-top: 5px;
	display: inline;
	margin-left: 10px;
}

canvas.sliderBKG{
	display: inline;
	position:absolute;
	z-index:-1;
}
div.sliderKnob{
	display: inline;
	position:absolute; 
	left: 10px;
	width: 70px;
	height: 36px;
}

canvas.knobStyle{
	display: inline;
	position:absolute;
}

p.sliderText{
	display: inline;
	margin-top: 0px;
	margin-bottom: 0px;
	color: rgba(255,255,255,0.9);
	position:relative;
}

button.alarmButton{
	position:relative;
	width: 40%;
	height: 30px;  
	margin: 0px; 
	background-color: #FFFFFF;
	background-image: -webkit-linear-gradient(transparent, #C1C1C1);
    background-image: -moz-linear-gradient(transparent, #C1C1C1);  
	border-radius: 5px; 
	font-size:20px; 
	padding:0px;
	z-index:10;
	border-color: #000000;
	-webkit-transition: background-color 1s;
    -moz-transition: background-color 1s;
}

p.alarmPara{
	text-align:center;
	z-index:1;
	opacity:1;
	transition:opacity 0.5s, z-index 0.5s;
	-moz-transition:opacity 0.5s, z-index 0.5s;
	-webkit-transition:opacity 0.5s, z-index 0.5s;
}

canvas#downStep{
	display: inline;
	background-color: Black;
}

div.messageServiceCell{
	border:solid; 
	border-color:#000000; 
	border-width:1px;
	padding:7px;
	border-radius: 10px;
	margin:2px;
	word-wrap: break-word;
}

:invalid{
	color: #FF0000;
}

textarea{
	font-size: 14px;
	font-family: Raleway;
	border-color: #FFFFFF;
	border-style: dotted;
}

tbody tbody a:link{
	color:#FFFFFF;
}
