body{
	height: 100%;
}

div#wrapperBlock{
	margin-left: auto;
	margin-right: auto;
	position:relative;
	top: 10%; 
}


canvas#leftSidebar{
	position:absolute;
	left:1%;
	top:0%;
}

div.meterBank{
	left: 30%;
	position: relative;
}

.meterBank canvas {
	position: absolute;
	top:0;
	left: -50px;
	z-index:1;
}

canvas#rightSidebar{
	position:absolute;
	right:1%;
	top:0%;
}