div.slider{
	position:absolute; 
	width: 270px;
	height: 36px;
	margin-top: 5px;
	display: inline;
}

canvas.sliderBKG{
	display: inline;
	position:absolute;
}
div.sliderKnob{
	display: inline;
	position:absolute; 
	left: 10px;
	width: 24px;
	height: 36px;
}

canvas.knobStyle{
	display: inline;
	position:absolute;
}

p.sliderText{
	display: inline;
	margin-top: 0px;
	margin-bottom: 0px;
	color: Grey;
}

canvas#downStep{
	display: inline;
	background-color: Black;
}