/*CSS Reset*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	height:100%;
	width:100%;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Enforce more intuitive box-sizing, suppress selection, demand default cursor*/
* { 
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box; 
	-webkit-user-select:none;
	-moz-user-select:none;
	cursor:default;
}

input, select, button{
	outline:none;
}

sup {font-size:small; vertical-align:super;}

sub {font-size:small; vertical-align:sub;}

body{
	font-family: 'Raleway', sans-serif; 
	font-size:14px; 
	background-color:#333333; 
	color:#FFFFFF;
	margin-left:0px;
}

input.widgetInput:invalid{
	color: #FF0000;
	border: 2px solid #FF0000;
}

a{
	cursor:pointer;
}

/*Generic altmodal///////////////////////////////////////*/
x-altmodal{
	text-align: center;
	background-color: rgba(0,0,0,0.8);
	border: 5px solid #EEEEEE;
	border-radius: 25px;
	padding:3em;	
	font-size: 120%;
}

/*Choose experiment intro///////////////////////////////*/
x-altmodal#chooseExperiment{
	font-size: 100%;
}
x-altmodal#chooseExperiment button{
	display:none;
}
x-altmodal#chooseExperiment img{
	margin: 2em 2em 0em 2em;
	opacity: 0.5;
}

x-altmodal#chooseExperiment img:hover{
	opacity: 1;
}

/*Complaint altmodal/////////////////////////////////////*/
x-altmodal#incompleteForm button{
	background: #4C4C4C; 
	color: #FFFFFF;
	border-color: #333333; 
	border-radius: 5px;
    font-family: 'Raleway', sans-serif;
    font-size:100%;
    padding:1em;
    cursor: pointer;
    margin-top:1em;
}

x-altmodal#incompleteForm button:hover{
	background: #777777;
}

/*branding///////////////////////////////////////////////*/

div#branding{ 
	height:6em; 
	border-color:#999999; 
	border-left-style:solid; 
	border-bottom-style:solid; 
	border-left-width:5px; 
	border-bottom-width:5px; 
	border-bottom-left-radius:25px; 
	background-color:#333333; 
	margin-bottom:3em; 
	padding-bottom:5px; 
	text-align: left;
}

img#logo{
	opacity:0.5625; 
	padding-left:1em; 
	margin-bottom:5px;
	height:5em;
	width:5.8em;
}

h1#title{
	position:relative; 
	display:inline; 
	font: 500% Raleway; 
	top:-10px; 
	margin-left:10px; 
	color:#999999;
}

/*Titles//////////////////////////////////////////////////////////////////////////////*/
h1{
	font-family: 'Orbitron', sans-serif;
	color: #999999;
	font-size: 300%
}

/*Option wrappers/////////////////////////////////////////////////////////////////////*/
div#GRIFFINwrap, div#TIGRESSwrap{
	text-align:center;
}

/*x-fan///////////////////////////////////////////////////////////////////////////////*/
x-fan{
	margin-bottom: 3em;
}

/*Buttons/////////////////////////////////////////////////////////////////////////////*/
button.bigButton{
	padding: 1em;
	font: 16px Raleway;
	margin-bottom: 3em;
	cursor: pointer;
}

/*moz buttons are actually made of mysterious marshmallows:*/
button.bigButton::-moz-focus-inner{
	padding: 1em;
}

/*Footer and footer-related styles////////////////////////////////////////////////////*/
div#footer{
	background-color: #999999;
	text-align: center;
	padding:2em;
	color:#333333;
	border-top:1px solid #000000;
	height:6em;
	line-height: 1.2;

	transition: opacity 0.5s; 
	-moz-transition: opacity 0.5s; 
	-webkit-transition: opacity 0.5s;
}

div#push{
	height:6em;
}

div#wrapper{
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -6em;
	padding-left:1em;
	padding-right: 1em;	
	text-align: center;

	transition: opacity 0.5s; 
	-moz-transition: opacity 0.5s; 
	-webkit-transition: opacity 0.5s;
}